TOKEN=<Discord bot token>

# Configuration
ADMIN_IDS=<Discord user ID's followed by commas (No spaces)>
INTERNAL_GUILD_IDS=<Discord guild ID's followed by commas (No spaces)>
API_SUPPORT=<True/False>

# MongoDB (Set <CHANGEME> to a secure password)
MONGO_URI=mongodb://admin:<CHANGEME>@mongodb:27017
MONGO_DB=onlyonemessage 
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=<CHANGEME>

# Channels, remove if you don't require it
GUILD_JOIN_CHANNEL=<Discord Channel ID>
GUILD_LEAVE_CHANNEL=<Discord Channel ID>
FEEDBACK_CHANNEL=<Discord Channel ID>

# Integrations, these may be removed if you dont require it
TOPGG_TOKEN=<CHANGEME>