# Discord bot tokens (You may use the same taken for both)
PROD_TOKEN=
DEV_TOKEN=

# MongoDB (Change <CHANGEME> to a secure password)
MONGO_URI=mongodb://admin:<CHANGEME>@mongodb:27017
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=<CHANGEME>

# Databases, feel free to change these if needed (you may use the same for both, although not recommended)
MONGO_DEV_DB=onlyonemessage-development 
MONGO_PROD_DB=onlyonemessage-production 

# Integrations (Only needed if their respective configuration is enabled)
TOPGG_TOKEN=