TOKEN= # Put your Discord bot token here

# MongoDB (Set <CHANGEME> to a secure password)
MONGO_URI=mongodb://admin:<CHANGEME>@mongodb:27017
MONGO_DB=onlyonemessage 

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=<CHANGEME>

# Integrations, these may be removed if you dont require it
TOPGG_TOKEN=<CHANGEME>